{% extends 'base.html' %}
{% load static %}

{% block content %}

<style type="text/css">

        html,body { height: 100%;margin: 0; padding: 0;overflow: hidden ;}

 #first{
      float: left;
        /*display: inline-block;*/
        width: 50%;
        word-wrap: break-word;
    }
#second {
    /*display: inline-block;*/
    float: right;
    position: relative;
    width: 50%;
}

</style>


        <div id="first" style="height: 100%;width: 50%" > </div>

        <div id="second" style="height: 100%;width: 50%"> </div>



   <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
   <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-gl/dist/echarts-gl.min.js"></script>
   <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-stat/dist/ecStat.min.js"></script>
   <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/extension/dataTool.min.js"></script>

 <script type="text/javascript">



var dom = document.getElementById("first");
var myChart = echarts.init(dom);

var myColor = ['#eb2100', '#eb3600', '#d0570e', '#d0a00e', '#34da62', '#00e9db', '#00c0e9', '#0096f3', '#33CCFF', '#33FFCC'];

option = {
    backgroundColor: '#202020',
    grid: {
        left: '11%',
        top: '12%',
        right: '0%',
        bottom: '8%',
        containLabel: true
    },
    xAxis: [{
        show: false,
    }],
    yAxis: [{
        axisTick: 'none',
        axisLine: 'none',
        offset: '27',
        axisLabel: {
            textStyle: {
                color: '#ffffff',
                fontSize: '16',
            }
        },
        data: {{city_name|safe }}
    }, {
        axisTick: 'none',
        axisLine: 'none',
        axisLabel: {
            textStyle: {
                color: '#ffffff',
                fontSize: '16',
            }
        },
        data: {{ ranks|safe }}
    }, {
        name: '         Population by GDP rank (million)',
        nameGap: '30',
        nameTextStyle: {
            color: '#ffffff',
            fontSize: '20',
        },
        axisLine: {
            lineStyle: {
                color: 'rgba(0,0,0,0)'
            }
        },
        data: [],
    }],
    series: [{
            name: '条',
            type: 'bar',
            yAxisIndex: 0,
            data: {{ population|safe }},
            label: {
                normal: {
                    show: true,
                    position: 'right',
                    textStyle: {
                        color: '#ffffff',
                        fontSize: '12',
                    }
                }
            },
            barWidth: 10,
            itemStyle: {
                normal: {
                    color: function(params) {
                        var num = myColor.length;
                        return myColor[params.dataIndex % num]
                    },
                }
            },
            z: 2
        }, {
            name: '白框',
            type: 'bar',
            yAxisIndex: 1,
            barGap: '-100%',
            data: [50000000, 50000000, 50000000, 10000000],
            barWidth: 10,
            itemStyle: {
                normal: {
                    color: '#202020',
                    barBorderRadius: 5,
                }
            },
            z: 1
        },
    ]
};


if (option && typeof option === "object") {
    myChart.setOption(option, true);
}



var dom1 = document.getElementById("second");
var myChart1 = echarts.init(dom1);

option1 = {
    backgroundColor: '#202020',
    grid: {
        left: '11%',
        top: '12%',
        right: '0%',
        bottom: '8%',
        containLabel: true
    },
    xAxis: [{
        show: false,
    }],
    yAxis: [{
        axisTick: 'none',
        axisLine: 'none',
        offset: '27',
        axisLabel: {
            textStyle: {
                color: '#ffffff',
                fontSize: '16',
            }
        },
        data: {{city_name|safe }}
    }, {
        axisTick: 'none',
        axisLine: 'none',
        axisLabel: {
            textStyle: {
                color: '#ffffff',
                fontSize: '16',
            }
        },
        data: {{ ranks|safe }}
    }, {
        name: '                 Flight numbers by GDP rank (one week)',
        nameGap: '30',
        nameTextStyle: {
            color: '#ffffff',
            fontSize: '20',
        },
        axisLine: {
            lineStyle: {
                color: 'rgba(0,0,0,0)'
            }
        },
        data: [],
    }],
    series: [{
            name: '条',
            type: 'bar',
            yAxisIndex: 0,
            data: {{ flight_num|safe }},
            label: {
                normal: {
                    show: true,
                    position: 'right',
                    textStyle: {
                        color: '#ffffff',
                        fontSize: '12',
                    }
                }
            },
            barWidth: 10,
            itemStyle: {
                normal: {
                    color: function(params) {
                        var num = myColor.length;
                        return myColor[params.dataIndex % num]
                    },
                }
            },
            z: 2
        }, {
            name: '白框',
            type: 'bar',
            yAxisIndex: 1,
            barGap: '-100%',
            data: [50, 50, 50, 50, 50, 50, 50, 50, 50, 50],
            barWidth: 10,
            itemStyle: {
                normal: {
                    color: '#0e2147',
                    barBorderRadius: 5,
                }
            },
            z: 1
        },
    ]
};

if (option1 && typeof option1 === "object") {
    myChart1.setOption(option1, true);
}




</script>


{% endblock %}