<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Airlines mimics</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    {% block style %}

    {% endblock %}

    {% block js %}
    {% endblock %}


</head>
<body style="background-color: #f1f1f1; ">

<nav class="nav navbar-inverse" >
    <div class="container-fluid">
        <!-- Header -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/">AIRLINES MIMICS</a>
        </div>


        <!-- Items -->
        <ul class="nav navbar-nav navbar-right">
             <li>
                 <a href="/index/">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>&nbsp; top3 flights
                </a>
            </li>

            <li>
                <a href="/all_flights/">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp; all flights
                </a>
            </li>
            <li>
                 <a href="/analysis/">
                    <span class="glyphicon glyphicon-signal" aria-hidden="true"></span>&nbsp; Analysis
                </a>
            </li>
            <li>
                     <a href="/statistic/">
                        <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>&nbsp; statistic
                    </a>
            </li>
            <li>
                <a href="/login">
                    <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp; Login
                </a>
            </li>
        </ul>
    </div>
</nav>

{% block content %}
{% endblock %}

</body>
</html>